.btn-square {
    width: 30px !important;
    height: 30px !important;
    padding: 5px !important;
}

.btn-bottom-right {
    position:absolute;
    bottom:5px;
    right:5px;
    margin:0;
    padding:5px 3px;
}

.btn-top-right {
    position:absolute;
    right:10px;
    top:10px;
    margin:0;
    padding:5px 3px;
}

.shop-item {
    display: none;
}

.rating {
    padding-left: 0;
}

.rating li {
    color: gold;
    list-style-type: none;
    display: inline;
}

.rating-link, .rating-link :hover {
    color: gold;
}

.address {
    margin-left: 2em;
}